@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

header {
    background: #222222;
    padding: 18px 32px;
    height: 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.button__basket {
    width: 120px;
    border: 3px solid #FF6A6A;
    background: none;
    font-size: 16px;
    font-weight: 900;
    color: #F26376;
    cursor: pointer;
}

.button__basket:hover {
    color: white;
    background: #F26376;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 20px;
}

.products .product-item {
    display: flex;
    flex-direction: column;
    background: #d1c2c2;
    padding: 9px 9px;
}

.product-item img {
    display: block;
    align-self: center;
}

.product-item h3 {
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    align-self: center;
    margin-top: 9px;
}

.product-item p {
    font-size: 16px;
    align-self: end;
    line-height: 19px;
    color: #f35368;
    font-weight: 700;
    padding-right: 9px;
    padding-top: 9px;
}

.product-item button {
    width: 120px;
    border: 1px solid #FF6A6A;
    border-radius: 20px;
    background: none;
    font-size: 16px;
    color: #F26376;
    cursor: pointer;
    padding: 4px 4px;
    align-self: center;
    margin-top: 10px;
}

.product-item button:hover {
    color: white;
    background: #F26376;
}

.hidden {
    display: none;
}

.basket {
    position: absolute;
    margin-top: 50px;
}

.basket__elem {
    display: flex;
    justify-content: space-between;
    border: 3px solid #FF6A6A;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    max-width: 360px;
}

.basket__elem_left {
    display: flex;
    align-items: center;
}

.basket__elem_left p {
    margin-left: 30px;
}

.basket__elem_right {
    margin-left: 20px;
    align-self: center;
}

.basket__elem_price {
    color: #F26376;
    font-weight: 900;
    margin-top: 20px;
}

.basket__elem img {
    display: block;
    width: 100px;
    height: 100px;
}